<mat-tab-group dynamicHeight>
  <mat-tab label="Angular">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/hXbTUQfnYa8"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </mat-tab>
  <mat-tab label="Second">Note how the video from the previous tab is still playing.</mat-tab>
  <mat-tab label="Monitoring">
    <iframe width="560"
            height="315"
            src="https://www.youtube.com/embed/9p3WAzENVZY"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
  </mat-tab>
</mat-tab-group>
